langchain
langchain-openai
langchain-community
langchain-chroma
langchain-text-splitters
arxiv
biopython
chromadb
pypdf
unstructured
plotly
beautifulsoup4
requests
python-dotenv
streamlit
pydantic
numpy
pandas
matplotlib
openai